html{
    font-size: 16px;
}
#glcanvas{
    position: fixed;
    left: 0;
    top: 0;
}
nav{
    position: fixed;
    top: 0;
    left: -10rem;
    width: 12rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    direction: rtl;
    transition: .5s;
}
nav:hover{
    left: 0;
    z-index: 1;
}
nav button{
    width: 8rem;
    height: 5rem;
    border-style: none;
    font-size: 1rem;
    position: relative;
    transition: .2s;
}
nav button:hover{
    background: #ccc;
    border-radius: .1rem;
    transform: scale(1.1);
    z-index: 2;
}
nav button.current{
    background: #fff555;
    border-radius: .1rem;
    transform: scale(1.2);
    box-shadow: 0 0 .5rem gray;
    z-index: 3;
}
#copyright{ 
    position: fixed; 
    text-align: center; 
    margin: .5rem; 
    right: 0; 
    bottom: 0; 
    color: white;
    font-family: consolas;
}
#copyright a{
    color: aqua;
}
#share svg{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0;
    left: 3rem;
    margin: .5rem;
    fill:#f8f8f8;
    stroke-dasharray: 5677.25390625;
    animation: outline_share 2s;
}
#share svg:hover{
    fill: aqua;
    transition: 0.2s;
}
#share svg:active{
    fill: blue;
    transition: 0.1s;
}
#move svg{
    position: absolute;
    left: 3rem;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    fill:#f8f8f8;
    stroke-dasharray: 6654.98583984375;
    animation: outline_move 2s;
}
#move svg:hover{
    fill: aqua;
    transition: 0.2s;
}
.moving#move svg{
    fill: blue;
    transition: 0.1s;
}
.message{
    display: none;
    position: fixed;
    width: 16rem;
    min-height: 2rem;
    left: 50%;
    top: 10%;
    margin-left: -10rem;
    padding: 2rem;
    background: #f5f5f5b4;
    border-radius: 16px;
    word-break: break-all;
    color: #3d3d3d;
    box-shadow: 0 0 40px #555555;
    letter-spacing: 0.02rem;
}
.github-corner svg{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    right: 0;
    fill:#151513;
    color:white;
    stroke-dasharray: 859.9161987304688;
    animation: outline_github-corner 2s;
}
.github-corner:hover .octo-arm{
    animation:octocat-wave 560ms ease-in-out
}
@keyframes outline_share{
    0%{
        stroke: white;
        stroke-width: .5rem;
        stroke-dashoffset: 5677.25390625;
        fill-opacity: 0;
    }80%{
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes outline_move{
    0%{
        stroke: white;
        stroke-width: .5rem;
        stroke-dashoffset: 6654.98583984375;
        fill-opacity: 0;
    }80%{
        stroke-width: .5rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@keyframes octocat-wave{
    0%,100%{transform:rotate(0)}
    20%,60%{transform:rotate(-25deg)}
    40%,80%{transform:rotate(10deg)}
}
@keyframes outline_github-corner{
    0%{
        stroke: white;
        stroke-width: .1rem;
        stroke-dashoffset: 859.9161987304688;
        fill-opacity: 0;
    }80%{
        stroke-width: .1rem;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }100%{
        stroke: white;
        stroke-width: 0;
        fill-opacity: 1;
    }
}
@media (max-width:500px){
    nav{width: 6rem;left: -5rem;}
    nav button{font-size: .8rem;width: 4rem;height: 4vh;}
    #copyright{font-size: 0.8rem;}
    .message{width: 10rem;margin-left: -6rem;padding: 1rem;}
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
    .github-corner svg{
        width: 2rem;
        height: 2rem;
    }
    #share svg,#move svg{
        width: 1.5rem;
        height: 1.5rem;
        margin: .1rem;
        left: 0;
    }
}